/*
 *  Licensed to the Apache Software Foundation (ASF) under one
 *  or more contributor license agreements.  See the NOTICE file
 *  distributed with this work for additional information
 *  regarding copyright ownership.  The ASF licenses this file
 *  to you under the Apache License, Version 2.0 (the
 *  "License"); you may not use this file except in compliance
 *  with the License.  You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing,
 *  software distributed under the License is distributed on an
 *  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 *  KIND, either express or implied.  See the License for the
 *  specific language governing permissions and limitations
 *  under the License.
 */

/*
uncomment to add a logo (in an ../images directory relative to this file)

#header {
    height: 48px;
    background-image: url("../images/logo.png");
	background-repeat: no-repeat;
}

#header h1 {
	display: none;
}
*/

/*
example: uncomment to hide the icon

.entityIconAndTitlePanel a img {
	display: none;
}
*/

/*
example: uncomment to hide the sliding bookmark panel

#bookmarkedPagesSlidingDiv {
	display: none;
}
.showPanelTab {
	display: none;
}
*/

.headerContainer {
        background-image: linear-gradient(rgb(105, 105, 105), rgb(47, 79, 79));
}

body{
	background: #e4f5fc; /* Old browsers */
background: -moz-linear-gradient(left, #e4f5fc 0%, #bfe8f9 13%, #9fd8ef 39%, #2ab0ed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e4f5fc), color-stop(13%,#bfe8f9), color-stop(39%,#9fd8ef), color-stop(100%,#2ab0ed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #e4f5fc 0%,#bfe8f9 13%,#9fd8ef 39%,#2ab0ed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #e4f5fc 0%,#bfe8f9 13%,#9fd8ef 39%,#2ab0ed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #e4f5fc 0%,#bfe8f9 13%,#9fd8ef 39%,#2ab0ed 100%); /* IE10+ */
background: linear-gradient(to right, #e4f5fc 0%,#bfe8f9 13%,#9fd8ef 39%,#2ab0ed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=1 ); /* IE6-9 */



}

#header {
 
    background: url("/images/logo_conectar-igualdad.png") no-repeat scroll left center;
    
}
.actionPanel .myBlockContainer {
	
    background-image: linear-gradient(rgb(255, 255, 255), rgb(47, 79, 79));
}
.entityPropertiesPanel fieldset {
	background-image: linear-gradient(rgb(255, 255, 255), rgb(47, 79, 79));
    
}

.bookmarkedPagesPanel #bookmarkedPagesSlidingDiv
{
	background: #e4f5fc; /* Old browsers */
background: -moz-linear-gradient(left, #e4f5fc 0%, #bfe8f9 13%, #9fd8ef 39%, #2ab0ed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e4f5fc), color-stop(13%,#bfe8f9), color-stop(39%,#9fd8ef), color-stop(100%,#2ab0ed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #e4f5fc 0%,#bfe8f9 13%,#9fd8ef 39%,#2ab0ed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #e4f5fc 0%,#bfe8f9 13%,#9fd8ef 39%,#2ab0ed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #e4f5fc 0%,#bfe8f9 13%,#9fd8ef 39%,#2ab0ed 100%); /* IE10+ */
background: linear-gradient(to right, #e4f5fc 0%,#bfe8f9 13%,#9fd8ef 39%,#2ab0ed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=1 ); /* IE6-9 */
	border-radius: 10px;
}


#applicationActions .cssMenuPanel .menuh li
{
	background-color:teal;
	border-radius: 8px;
	border-width: 2px;
	border-style: dashed;	
}

.loginPanel
{
	border-radius: 700px;
	height: 240px;
	border-radius: 700px 700px 700px 700px;
	width: 240px;
	padding: 46px;
	background-image: linear-gradient(rgb(255, 255, 255), rgb(47, 79, 79));
}

.entityActions .cssMenuPanel .menuh li.x-caution a,
li.x-caution a {
    background-color: #C94316;
}
.entityActions .cssMenuPanel .menuh li.x-caution a:hover {
    background-color:#20B5C2;
}	

/*.entityActions .cssMenuPanel .menuh a:hover*/

.entityActions .cssMenuPanel .menuh li.x-highlight a,
li.x-highlight a {
    background-color: #51A95C;
}

.entityActions .cssMenuPanel .menuh li.icono-eliminar a,
li.icono-eliminar {
	background-color: #F0EFEA;
    background: url("../images/icoWrong.png") no-repeat scroll left center #F0EFEA;
    height:38px;
}


div.x-key span.scalarName {
	color: red;
}

}